<header class="mobile">

      <div class="row">

         <div class="col full">

            <div class="logo">
               <!--<a href="#"><img alt="" src="assets/master_accounting_logo.jpg"></a>-->
               <a href="#">Master Accounting</a>
            </div>

            <nav id="nav-wrap">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">
	               <li><a href="#intro">Home</a></li>
	               <li><a href="#courses">Courses</a></li>
	               <li><a href="#register">Register</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#contact">Contact</a></li>
               </ul>

            </nav>

         </div>

      </div>

   </header>