<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Contact/Feedback</h1>
    <p>
      Name:<%= @contact_details[:name] %>
      <br/>
      Email: <%= @contact_details[:email] %>
      <br/>
      Subject: <%= @contact_details[:subject] %>
      <br/>
      Message: <%= @contact_details[:message] %>
    </p>
    <p></p>
  </body>
</html>