<!DOCTYPE html>
<html>
<head>
  <title>MasterAccounting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="cpa, cpa training, accounting training, accounting, accounting australia, accounting
  sydney, cpa australia, cpa sydney, cpa courses, cpa course, cpa professional training, CPA - Advance Audit And Assurance,
  CPA - Advanced Taxation, CPA - Ethics And Governance, CPA - Financial Reporting, CPA - Financial Risk Management,
  CPA - Global Strategy And Leadership, CPA - Strategic Management Accounting, qualified accountants, cpa exam, CPA certificate of Merits" />
</head>
<body>

<%= yield %>

</body>
</html>
